<form action='' method = "POST">
    <p>name <input type = "text" name = "name" value="{{employee.name}}"/></p>
    <p>position <input type = "text" name = "position" value="{{employee.position}}"/></p>
    <p>email <input type = "email" name = "age"  value="{{employee.email}}"/></p>
    <p>starting date <input type = "date" name = "position" value="{{employee.starting_date}}"/></p>
    <p>ending date <input type = "date" name = "position" value="{{employee.ending_date}}"/></p>
    <p><input type = "submit" value = "Submit" /></p>
</form>